.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
}
.poster{
    max-height: 250px;
    margin-right: 10px;
}
.posters::-webkit-scrollbar{
    display: none;
}
.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    
}
.smallPoster:hover{
transform: scale(1.1);
}
.Poster:hover{
    transform: scale(1.2);
    }
